<html>
    <% include header %>
    <body>


            <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Visited On</th>
                            <th>Picture Uploaded</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% for (var i=0; i < myresult.length; i++) { %>  
                            <tr>
                                    <td><%= myresult[i].firstname %></td>
                                    <td><%= myresult[i].email %></td>
     

                                    <td><%= myresult[i].comment %></td>
                                    <td><%= myresult[i].submission_date %></td>
                                    <td> <img src="/uploads/<%= myresult[i].fname%>" ></td>
                                    <td>
                                        <form method="POST" action="/guestbook/<%= myresult[i].firstname %>" style="float:right">
                                            <input type="submit" name="<%= myresult[i].firstname %>" value="Delete" onClick="return confirm('Are you sure you want to delete?')" />
                                            <input type="hidden" name="<%= myresult[i].firstname %>" value="DELETE" />
                                        </form>
                                        <!-- <input id="delete" type="button" value="delete"> -->
                                    </td>
        
                            </tr>
                        <% } %>
                    </tbody>
    </body>
     
    
<% include footer %>
</html>